/* Child Component Style */
/* Home Page */
h2,
p {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 20px;
}

.one-grid {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-gap: 10px;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  display: grid;
  grid-gap: 5px;
  align-content: space-between;
}

.search-text {
  font-size: 1.5em;
  color: #9a9191;
  margin: 20px 0;
}

.publish-date {
  color: #38bf57;
  margin-top: -5px;
}

.description {
  max-height: 95px;
  overflow-y: auto;
}
.show-text {
  color: #537dcc;
  font-style: italic;
}
.title a {
  color: #537dcc;
  text-decoration: none;
}
.author {
  text-align: end;
  font-size: 0.8em;
  color: #9a9191;
  margin-top: -5px;
}
.link {
  text-align: end;
  margin: 10px 0;
}
.link a {
  text-transform: uppercase;
  background: #ffedee;
  font-size: 0.9em;
  padding: 5px 20px;
  color: #ff4856;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.link a:hover {
  background: #ff4856;
  color: #ffedee;
}

/* Media Query */
@media (max-width: 640px) {
  h2 {
    font-size: 1.2em;
  }
  .search-text {
    font-size: 1em;
    margin: 10px 0;
  }
  .description,
  .publish-date {
    font-size: 0.9em;
  }
}
